<ion-header>
  <app-menu-admin (menuAbierto)="seAbrioMenu($event)"> </app-menu-admin>
</ion-header>
<ion-content [fullscreen]="true" >
 <div [class]="claseAAplicar">
  <!--
<app-busqueda></app-busqueda>
  -->
  
    <div class="container">
      <div class="mt-2 mb-3 ">
        <b>
          Crear nuevo {{nombreControlador}}:
        </b>
        <app-dynamic-form  *ngIf="can_agregar === true" [fields]="contenidoInsert" (submited)="ejecuta($event)"></app-dynamic-form>
       
      </div>

      <b>
        Contenido de {{nombreControlador}}:
      </b>
      <div class="row m-auto" *ngIf="can_ver === true">
        <table class="table table-striped col-8 ">
          <thead>
            <tr>
              <th *ngFor="let contenido of listaContenidos[0] | keyvalue" class="text-center">{{contenido.key}}</th>
              <th class="text-center" *ngIf="can_editar === true">Editar</th>
              <th class="text-center" *ngIf="can_borrar === true">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contenido of listaContenidos">
              <td class="text-center" *ngFor="let parte of contenido | keyvalue ">
                {{parte.value}}
              </td>
            
              <td class="text-center">
               <!--
               <span *ngIf="can_editar === false">No tienes permiso</span>
               -->
               <button *ngIf="can_editar === true" class="btn btn-primary">
                Editar
               </button>
              </td>
              <td class="text-center">
                <!--
                <span *ngIf="can_borrar === false">No tienes permiso</span>
                -->
                
                <button *ngIf="can_borrar === true" class="btn btn-danger"  (click)="openModal(contenido)">
                  Borrar
                 </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  
    <!--
      Tabla  boostrap
        {{nombreControlador}}
    -->
  </div>
</ion-content>
