<div class="row">
    <super-sidebar-avierta [config]="menuService.configSidebar"
     [enlaces]="menuService.menus"
     (singOutClick)="cerrarSesion()"
     class="col-3 slider">
    </super-sidebar-avierta>
    <ion-content class="col-9 m-0" [fullscreen]="true">
        
        <div class="container " >
             <super-inline-form [config]="config_form" class="m-3 " (submited)="ejecuta($event,'crear')"></super-inline-form>
             <super-tabla [data]="listaContenidos" [configFormEdit]="config_form" (saveClick)="clickSave($event)" (deleteClick)="openModal($event)" class="m-3" ></super-tabla>
     
         </div>
     </ion-content>
</div>


