
<div class="row">
    
  <super-sidebar-avierta [config]="menuService.configSidebar"
   [enlaces]="menuService.menus"
   (singOutClick)="cerrarSesion()"
   class="col-3 slider">
  </super-sidebar-avierta>
  <ion-content class="col-9 m-0" [fullscreen]="true">
    
    
      <div class="container "  *ngIf="can_ver === true" >
           <super-inline-form [config]="config_form" class="m-3 " (submited)="ejecuta($event,'crear')" *ngIf="can_agregar === true"></super-inline-form>
           <super-tabla 
           *ngIf="listaContenidos.length > 0"
           [data]="listaContenidos" 
           [configFormEdit]="config_form"
           [config]="config"
           (saveClick)="clickSave($event)" 
           (deleteClick)="openModal($event)" class="m-3" >
          </super-tabla>
          <p *ngIf="listaContenidos.length === 0 && peticionBD === false">
            UPS no hay <b>ningun</b> elemento en  <b>{{nombreControlador}}</b>, añade uno ahora
          </p>
       </div>
   </ion-content>
</div>