<!--
  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank ñaaaaaaaaaaaaaa
    </ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <span  class="h1"><b>Organi</b>GREEN</span>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Logueate para entrar</p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Correo" formControlName="username">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember" formControlName="remember">
                  <label for="remember">
                    Recuérdame
                  </label>
                </div>
              </div>
              <div class="col-5">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Loguéame</button>
              </div>
            </div>
          </form>          
          
           <!--
          <div class="social-auth-links text-center mt-2 mb-3">
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
              <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
            </a>
          </div>
          -->
          <!-- /.social-auth-links -->
    
          <p class="mb-1">
            <a href="forgot-password.html">Olvide la contraseña</a>
          </p>
         
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</ion-content>
